// Rate buttons

.form-elements__rate-wrapper{
    display: flex;
    flex-direction: row;
}

.form-elements__rate {
    display: flex;
    user-select: none;
    padding-right: 20px;
    padding-top: 7px;
}

.rating__icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1rem;
    text-transform: none;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}