include ../text-field/text-field

mixin sliderCard(title)
    .form-elements__slider-wrapper
        +formElementsHeader(title)
        .form-elements__slider-title
            div(class="extra-controls")
                input(type="text" class="js-input-from extra-controls__title" value="0" readonly)
                span -
                input(type="text" class="js-input-to extra-controls__title" value="0" readonly)
    .form-elements__range-slider
        div(class="range-slider")
            input(type="text" class="js-range-slider" value="")