
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container{
    max-width: 1160px;
    width: 100%;
    margin: auto;
}

.logo {
    width: 48px;
    height: 48px;

    &-wrapper{
        margin-top: 30px;
    }
}