include ../socials/socials

mixin lightFooter()
    .footer__container
        .light-footer
            .logo-wrapper
                include ../../logo/logo-main
            .light-footer__content Copyright © 2018 Toxin отель. Все права зачищены.
            +socials()