mixin socials()
    div(class="footer__socials")
        div(class="socials")
            i(class="socials__link fa fa-twitter" aria-hidden="true")
            i(class="socials__link fa fa-facebook-official" aria-hidden="true")
            i(class="socials__link fa fa-instagram" aria-hidden="true")