doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            block title
        include assets/favicons/favicons
        //- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        block main
        block rectangles-section
        block menu
        block form-section
        block cards-section
        block headers-section
        block footers-section
        block landing-section
        block registration-section
        block signIn-section
        block roomDetails-section
        block searchRoom-section