mixin additions(iconName, title, descr)
    div(class="additions__wrapper")
        div(class="icon__wrap")
            i(class="additions__icon material-icons") #{iconName}
        div(class="additions")
            div(class="additions__title") #{title}
            div(class="additions__descr") #{descr}